@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600|Ubuntu+Condensed');
@font-face {
  font-family: "EraserDust";
  src: url("../fontes/EraserDust.ttf") format('truetype');
}

@font-face {
  font-family: "EraserRegular";
  src: url("../fontes/EraserRegular.ttf") format('truetype');
}

@font-face {
  font-family: "DK";
  src: url("../fontes/DK.ttf") format('truetype');
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  background-image: url("https://github.com/voltdatalab/academia-cervejas/blob/gh-pages/img/backboard.png?raw=true");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 100%;
  color: #f4f4f4;
  margin: 0px;
  overflow: auto;
}

@media screen and (max-width: 850px) {
  body {
    background-image: url("https://github.com/voltdatalab/academia-cervejas/blob/gh-pages/img/backboard.png?raw=true");
    background-attachment: scroll;
    background-repeat: repeat;
  }
  .detalhes {
    display: none;
  }
  .tHeader, td {
    font-size: 1em;
  }
  .parceiros {
    max-width: 360px;
  }
  #mapa {
    width: 100% !important;
    max-width: 350px !important;
    margin: 0 auto !important;
    float: none !important;
  }
  #fb-embed {
    width: 100% !important;
    max-width: 350px !important;
    margin: 100px auto !important;
    float: none !important;
  }
  .tHeader {
    display: none !important;
  }
  .barril-nivel {
    display: none !important;
  }
  td {
    border-left: 10px solid rgba(255, 255, 255, .8);
    border-image: url("../img/line.png") 14 !important;
  }
  .imgrango {
    width: 100% !important;
    max-width: 400px !important;
    float: none !important;
    margin: 10px;
  }
  .preco-rango {
    float: none !important;
  }
  .breaker {
    display: inline !important;
  }
}

.breaker {
  display: none;
}

#logo {
  text-align: center;
  width: 250px;
}

.logopartner {
  max-width: 150px;
  width: 100%;
}

.parceiros {
  max-width: 70%;
  margin: 30px auto;
  border: 10px solid rgba(255, 255, 255, .8);
  border-image: url("../img/line.png") 20;
  padding: 30px;
  padding-bottom: 100px;
}

.parceiros h2 {
  font-family: "DK";
}

.lista-parceiros {
  margin-left: -15px;
}

.lista-parceiros li {
  display: inline-block;
  margin-right: 30px;
}

.lista-parceiros li a {
  color: #47CCFC;
}

.lista-parceiros li a:hover {
  color: #fff;
}

#mapa {
  width: 100%;
  max-width: 400px;
  float: left;
}

#fb-embed {
  float: right;
  width: 40%;
}

#gmaps {
  width: 500px
}

.container {
  max-width: 900px;
  margin: 30px auto;
  overflow: auto;
}

.main_container {
  max-width: 1000px;
  margin: -50px auto 10px;
  overflow: hidden;
}

header {
  text-align: center !important;
  font-size: 1.2em
}

h3 {
  padding-top: 18px;
}

h1 {
  font-size: 36px;
}

table {
  border-spacing: 0;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  border-top: 10px solid rgba(255, 255, 255, .8);
  border-image: url("../img/line.png") 15;
}

.endereco {
  margin: 0 10%;
  text-align: center
}

.preco-rango {
  color: #47CCFC;
  float: right;
}

.desc-rango {
  font-size: 1.2em !important;
  font-weight: 300;
}

.harmonia li {
  color: #47CCFC;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.imgrango {
  max-width: 200px;
  border-radius: 10px;
  float: right;
  margin: -10px 0 20px 10px;
  overflow: auto;
  position: relative;
}

.harmonia {
  margin-left: -25px;
}

.horarios li {
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
  font-size: 1em;
}

.horarios {
  margin-left: 30px;
}

#anuncio {
  background-color: #47CCFC;
  color: #fff;
  text-align: center;
}

#anuncio h4 {
  font-size: 1.8em;
  color: #f4f4f4;
}


/*
tbody tr:nth-child(odd) {
    background-color: #777;
}
*/

thead {
  text-align: center;
}

.tHeader {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.3em;
  font-family: "DK";
  color: #fff;
  border-right: 10px solid rgba(255, 255, 255, .8);
  border-bottom: 10px solid rgba(255, 255, 255, .8);
  border-image: url("../img/line.png") 8;
  border-image-outset: 0 6px;
  padding-top: 20px;
  vertical-align: middle;
}

.tHeader:nth-child(8) {
  border-right: 0px solid #fff;
}

td {
  min-width: 60px;
  width: 100%;
  vertical-align: top;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  font-size: 1.3em;
  border-right: 10px solid rgba(255, 255, 255, .8);
  border-bottom: 10px solid rgba(255, 255, 255, .8);
  border-image: url("../img/line.png") 8;
  border-image-outset: 0 6px;
  font-family: 'DK';
  font-weight: 300;
}

td:nth-child(8) {
  border-right: 0px solid #fff;
}

td:first-child {
  border-left: 0px solid #fff;
}

td:nth-child(2) {
  font-weight: 300
}

td a {
  line-height: 24px;
}

tr {
  font-family: 'EraserDust';
  text-align: center;
}

.local {
  font-style: italic;
  font-size: .8em;
  font-weight: 300;
  font-family: 'Teko', sans-serif;
}

.breja {
  font-weight: 600;
  font-family: 'EraserDust', sans-serif;
}

.combo {
  line-height: .9em;
}

.footer {
  margin-top: 100px;
}


/* listas */

ul, ol {
  text-indent: 0;
  margin: 0;
  padding-left: 20px;
}

ul li {
  padding-bottom: 6px;
  line-height: 22px;
}

.menu li {
  display: inline-block;
  margin: 30px 30px 20px 0;
}


/* footer */

footer {
  padding-top: 20px;
  margin-top: 60px;
  border-top: 0px solid #CCF4FF;
  -webkit-column-count: 6;
  column-count: 6;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -moz-column-count: 6;
  -moz-column-gap: 20px;
  height: 125px;
  width: 100%
}

footer ul {
  list-style: none;
  padding-left: 0px;
  font-family: Source Sans Pro, Baskerville, Georgia, serif;
}

footer li {
  line-height: inherit;
  font-size: 12px;
}

footer h4 {
  font-size: 14px;
  -webkit-column-break-before: always;
  break-before: always;
  -moz-column-break-before: always;
}

footer h4 {
  margin-top: 0px;
}

footer a {
  border: none;
}

.half {
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}

.half:nth-child(odd) {
  padding-left: 20px;
}

img[alt=sheetseeimg] {
  width: 400px;
}

.index p:first-of-type {
  text-align: center;
}


/* older css */

h1, h2, h3, h4, h5, h6 {
  font-family: Source Sans Pro, Arial, sans-serif;
}

h2 {
  margin-top: 15px;
}

.nome-parceiro {
  line-height: 1.7em;
  border-bottom: 10px solid rgba(255, 255, 255, .8);
  border-image: url("../img/line.png") 5;
}

img {
  max-width: 100%;
}

hr {
  border-top: 10px solid rgba(255, 255, 255, .8);
  border-image: url("../img/line.png") 20;
  max-width: 80%;
  margin-top: 100px;
}

p {
  font-size: 18px;
}

p, a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0px;
}

a:hover {
  color: #47CCFC;
}

small {
  padding: 10px 0px;
}

p, ol {
  line-height: 1.4;
}

text {
  font-size: 12px;
}

pre {
  word-wrap: break-word;
  padding: 10px;
  background: #F8F8F8;
}

pre code {
  padding: 0;
}

code {
  font-family: "Source Code Pro", monospace;
  line-height: 1;
  font-size: 14px;
  background: #F8F8F8;
  color: #636363;
  font-weight: 400;
  padding: 2px 6px;
  border-radius: 2px;
}

h3 code {
  font-weight: bold;
  background: #CCF4FF;
  font-size: 19px;
}

.hljs {
  background: #F8F8F8;
  color: #494949;
  line-height: 1.4em;
}


/* funsies */

::selection {
  background: #cbcbcb;
}

::-moz-selection {
  background: #cbcbcb;
}


/* Table */


/*
.tHeader::after {
    content: " \2193 \2191 ";
    font-size: 10px;
    padding-left: 3px;
    cursor: pointer;
}
*/


/* Map Popup Style */

.leaflet-popup-content h2 {
  margin-bottom: 4px;
  margin-top: auto;
}


/* Estilos específicos da tabela */

#Pagination {
  border-top: 4px solid #CCF4FF;
  margin: 10px 0px;
  padding-top: 10px;
  display: inline-block;
}

#Pagination a {
  cursor: pointer;
}

.no-pag {
  color: #acacac;
  border: none;
}

.no-pag:hover {
  color: #acacac;
}

input {
  border: none;
  border-bottom: 1px solid #333;
  margin: 10px 0px;
  width: 200px;
  font-size: 16px;
  padding-bottom: 6px;
}
